@import "typography";
@import "navbar";
@import "variables";


* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translate(0, -50%)
}

.home {
  background: url("../images/homebg.jpg") center/cover;
  min-height: 100vh;
  .slogan {
    color: white;
    margin-top: 30vh;
    padding-right: 40px;
    h1 {
      font-size: 60px;
      font-weight: 200;
    }
    p {
      font-size: 16px;
    }
    @media (max-width: 576px) {
      h1 { font-size: 40px; }
    }

  }
}

.btn-style {
  border-radius: 20px;
  border: none;
  color: white;
  height: 40px;
  min-width: 100px;
}
