@import "typography";
@import "navbar";
@import "variables";


* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translate(0, -50%)
}

.btn-style {
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 18px;
  height: 40px;
  min-width: 150px;
}

.home {
  background: url("../images/homebg.jpg") center/cover;
  min-height: 700px;
  .slogan {
    color: white;
    margin-top: 30vh;
    padding-right: 40px;
    h1 {
      font-size: 60px;
      font-weight: 200;
    }
    p {
      font-size: 16px;
    }
    @media (max-width: 576px) {
      h1 { font-size: 40px; }
    }

  }
}


.about {
  min-height: 500px;
  .text {
    padding: 100px 0 150px 20px;
    p {
      margin: 50px 0;
    }
    @media (max-width: 768px) {
      padding: 50px 50px 150px;
      text-align: center;
    }
  }
  img {
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    max-height: 580px;
    max-width: 100%;
  }
}

.features {
  padding-top: 50px;
  font-weight: 300;
  h2 {
    color: $colorGreyDark;
  }
  h4 {
    color: $colorGrey;
    line-height: 1.5em;
  }
  p{
    color: $colorGreyDark;
    line-height: 2em;
    font-size: 14px;
  }
}
