@import "typography";
@import "navbar";
@import "variables";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translate(0, -50%)
}

.btn-style {
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 18px;
  height: 40px;
  min-width: 150px;
}

.home {
  background: url("../images/homebg.jpg") center/cover;
  min-height: 700px;
  .slogan {
    color: white;
    margin-top: 30vh;
    padding-right: 40px;
    h1 {
      font-size: 60px;
      font-weight: 300;
    }
    p {
      font-size: 16px;
    }
    @media (max-width: 576px) {
      h1 { font-size: 40px; }
    }

  }
}

.about {
  min-height: 500px;
  .text {
    padding: 100px 0 150px 20px;
    p {
      margin: 50px 0;
    }
    @media (max-width: 768px) {
      padding: 50px 50px 150px;
      text-align: center;
    }
  }
  img {
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    max-height: 580px;
    max-width: 100%;
  }
}

.features {
  padding-top: 50px;
  padding-bottom: 100px;
  h2 {
    color: $colorGreyDark;
  }
  p {
    color: $colorGreyDark;
  }
}

.portfolio {
  background: $colorGreyDark;
  min-height: 500px;
  padding-bottom: 50px;
  padding-top: 50px;
  h2 {
    color: white;
  }
  p {
    color: $colorGreyLight;
    padding: 50px;
  }
  .image {
    position: relative;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    max-height: 580px;
    max-width: 100%;
  }
  a {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
  }
}

.services {
  background: $colorGrey;
  color: white;
  min-height: 500px;
  padding-bottom: 50px;
  padding-top: 50px;
  i {
    font-size: 36px;
    color: $colorGreen;
  }
  h2 {
    padding-bottom: 20px;
  }
  p {
    color: $colorGreyLight;
  }
}

.row {
  margin: 0;
}

.news {
  .text {
    padding: 50px 50px 50px 50px;
  }
  h2 {
    padding-bottom: 20px;
  }
  .first-row {
    background: $colorGreyVeryLight;
  }
  .second-row, .fourth-row .text {
    background: $colorPurple;
    color: white;
    h2 {
      font-style: italic;
    }
    a {
      color: white;
      padding-left: 20px;
    }
  }
}

// IMAGES
.news-1 {
  min-height: 500px;
  background: url("../images/news_1.jpg") center/cover;
}

.news-2 {
  min-height: 400px;
  background: url("../images/news_video.jpg") center/cover;
}

.news-3 {
  min-height: 350px;
  background: url("../images/news_3.jpg") center/cover;
}

.news-4 {
  min-height: 700px;
  background: url("../images/news_4.jpg") center/cover;
  padding: 0;
  margin: 0;
}

.contact {
  background: $colorGrey;
  color: white;
  min-height: 500px;
  padding-bottom: 50px;
  padding-top: 50px;
  @media (max-width: 768px){
    text-align: center;
  }
  .contact-item {
    padding: 0;
  }
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  a {
    color: white;
    cursor: pointer;
    &:hover {
      color: $colorPurpleLight;
      text-decoration: none;
    }
  }
  .input-group {
    border: none;
    border-radius: 0;
    padding-bottom: 20px;
    .form-control {
      border-radius: 0;
    }
    input {
      height: 50px;
    }
    button {
      border-radius: 0;
      height: 50px;
    }
    i {
      font-size: 30px;
    }
  }
}
footer {
  background: $colorGreyVeryDark;
  color: white;
  min-height: 80px;
  p {
    padding: 25px 25px 0 25px;
    margin: 0;
  }
  a {
    color: $colorPurple;
    font-weight: 400;
    &:hover {
      color: $colorPurpleLight;
      text-decoration: none;
    }
  }
}
