$colorGreen: rgb(61, 210, 174);
$colorPurple: rgb(131, 95, 168);
$colorPurpleLight: lighten($colorPurple, 20);
$colorGreyLight: rgb(157, 165, 176);
$colorGrey: rgb(43,48,59);
$colorGreyDark: rgb(35,40,49);
$colorGreyBlue: rgb(58, 77, 96);

.bgGreen {
  background: $colorGreen;
}

.bgPurple {
  background: $colorPurple;
}

.bgBlackTransparent {
  background: rgba(0, 0, 0, 0.8);
}

.colorWhite {
  color: white;
}

.colorGrey {
  color: $colorGreyDark;
}

.colorGreyBlue {
  color: $colorGreyBlue;
}
